[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
optuna = "*"
lightgbm = "*"
flask = "*"
numpy = "*"
scikit-learn = "==1.0.1"
gunicorn = "*"
waitress = "*"
requests = "*"
pandas = "*"
charset-normalizer = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "3.8"
